//-------------------------------- imports
$hairline: "HelveticaNeueLT Com 35 Th", Helvetica, Arial, sans-serif
$thin: "HelveticaNeueLT Com 45 Lt", Helvetica, Arial, sans-serif
$regular: "Helvetica Neue", Helvetica, Arial, sans-serif

//-------------------------------- general
em
  font-size: 110%

body
  background: #fdfdfd
  font-weight: normal
  text-rendering: optimize-legibility
  font-family: $regular
  color: $copy

h1, h2, h3
  font-size: 1rem
  line-height: 1.45
  margin: $g 0
  font-family: $thin
  font-weight: bold
  color: darken($grey, 10%)

h1.date
  margin: 0
  display: block
  position: absolute
  left: -17.45em
  width: 15em
  margin-top: -1.5em
  text-align: right
  top: 0
  font-family: $thin
  font-weight: normal
  color: darken($grey, 10%)
  span
    font-family: $hairline
    font-size: 2.9em
    display: block
    position: relative
    margin-bottom: 0.28em
  & + h2
    margin-top: 0

h1.date + h2
  font-size: 1.45rem * 2
  margin-bottom: $g/2
  margin-top: 0
  letter-spacing: -1px
  font-weight: normal
  text-shadow: 0 0 1px transparent
  @media #{$iphone}
    font-size: 2rem
    letter-spacing: -0.5px

h2
  font-size: 1.2rem
  margin-top: $g*2
  margin-bottom: $g/2
  font-weight: normal
  font-family: $regular

h3
  margin-bottom: 0
  font-style: normal

p
  text-align: justify
  margin: 0
  & + p
    text-indent: $g

//-------------------------------- tables
// table
//   width: 100%
//   tr
//     th
//       font-weight: bold
//       border-bottom: 1px solid
//     td
//       border-bottom: 1px dotted
//     td, th
//       text-align: left
//       &:last-child
//         text-align: right

address
  font-style: normal

.post > ul, .post > ol
  padding-left: $g

ul, ol
  text-align: justify

blockquote
  // margin: $g*2 0 $g*2 $g
  margin: $g $g $g*2
  display: inline-block
  p
    text-align: left

dl
  padding: $g/2 $g
  margin: 0 auto
  dd
    margin-bottom: $g/2
    &:last-child
      margin-bottom: 0

dd
  margin-left: 0
  text-align: justify

hr
  max-height: 1px
  height: 1px
  border: 0
  border-top: 1px dashed #ccc
  margin: $g*2 auto $g*2
  width: 20%

//-------------------------------- code blocks
code
  padding: 0.25em 0.5em
  font-family: 'Cousine'
  background: rgba(#ffcc00, 0.1)
  font-size: 89%

pre
  margin: 0 auto

pre code
  padding: $g
  background: none

//-------------------------------- text selection
::-moz-selection
  text-shadow: none
  background: #f0f0f0

::selection
  text-shadow: none
  background: #f0f0f0
