//-------------------------------- normalize
@import "normalize"

//-------------------------------- CSS3 support
$experimental-support-for-microsoft: true
$experimental-support-for-mozilla: true
$experimental-support-for-webkit: true

//-------------------------------- typography
@import "compass/typography/vertical_rhythm"

//-------------------------------- bourbon
@import "bourbon/bourbon"

//-------------------------------- variables
$max-width: em(520)

$base-font-size: 13px
$base-line-height: 1.45 * $base-font-size
$g: 1.45rem

@include establish-baseline

//-------------------------------- final imports
@import "typography"
@import "colors"

//-------------------------------- styles
.grid-parent
  display: table

.grid
  padding: 0 $g
  display: table-cell
  border-bottom: $g solid transparent
  vertical-align: top

  & > :first-child
    margin-top: 0

  & > :last-child
    margin-bottom: 0

body
  margin: $g*2 auto $g*2
  position: relative
  @extend .grid-parent

.post
  counter-reset: headings 0
  img
    width: 100%
    max-width: $max-width
  &:first-child h1
    margin-top: 0

header, article, aside
  @extend .grid
  width: percentage(1/3)

header, aside
  padding: $g*2 $g*1.45
  position: relative
  div
    position: absolute
    span
      position: fixed 
